%h1 Create Request
%hr
%h3 Request ID:
%br
%h3 Requester:
%br
%h3 Pick Up For:
%br
%h3 Contact Number:
%br
%h3 Date:
%br
%h3 Time:
%br
%h3 Pick Up:
%br
%h3 Drop:
%br
%h3 Number Of Passengers:
%br
%h3 Comments:


%h4= link_to 'logout', cab_requests_logout_path