.span12
  -if @cab_requests != nil && @cab_requests != []
    -if notice
      .span8
        %h5.message
          = notice
    %a.btn.btn-info{href: "/cab_requests/show.xls", id: 'xls_link'}
      %i.icon-download-alt
      XLS Sheet
    =render '/cab_requests'
    .pagination-centered
      = will_paginate @cab_requests_page, previous_label: "Previous", next_label: "Next", :renderer => BootstrapPagination::Rails
  -elsif @cab_requests == []
    %h4 Oops! You haven't made any request


