-@cr = "true"
-@cr_show = "true"
= render '/header'
-@cr = "false"
-@cr_show = "false"

%h2= @notice
%hr
= render '/cab_requests'

%br
%br
%br
= link_to 'Download EXCEL Sheet', '/cab_requests/show.xls'
