-@cab_request_show_scope = "true"
= render '/header'
-@cab_request_show_scope = "false"

%h2= @notice
%hr
= render '/cab_requests'

%br
%br
%br
= link_to 'Download EXCEL Sheet', '/cab_requests/show.xls'
