= render '/permissions'

-if $is_admin
  -@ad = "true"
  = render '/header'
  -@ad = "false"

  %br
  %br
  %br

  =form_tag :action => :update do

    %b ACTIVE _ ADMIN :
    %select{:name => "admin"}
      -@admin_array.each do|admin|
        %option{ :selected => admin.status }= admin.name
      %end
    %br
    %br
    %br
    %b ACTIVE _ VENDOR :
    %select{:name => "vendor"}
      -@vendor_array.each do|vendor|
        %option{ :selected => vendor.status }= vendor.name
      %end
    %br
    %br
    =submit_tag "Update"
  %end
