= render '/permissions'

-if $is_admin
  -@ad = "true"
  = render '/header'
  -@ad = "false"

  %br
  %br
  %br

  =form_tag :action => :update do

    %b ACTIVE _ ADMIN :
    %select{:name => "admin"}
      -@admin_names.each do|admin_name|
        %option= admin_name
      %end
    %br
    %br
    %br
    %b ACTIVE _ VENDOR :
    %select{:name => "vendor"}
      -@vendor_names.each do|vendor_name|
        %option= vendor_name
      %end
    %br
    %br
    =submit_tag "Update"
  %end
