
%h1 ACTIVE ADMIN
%input{:value => @admin_name, :readonly => true}

%h1 Contact Number:
%input{:value => @admin_contact_number, :readonly => true}
%br
%br
%br
%h1 ACTIVE VENDOR
%input{:value => @vendor_name, :readonly => true}

%h1 Contact Number:
%input{:value => @vendor_contact_number, :readonly => true}
%br
%br
%br
%h3= link_to 'Admins', admins_path
%h3= link_to 'Edit', '/support_center/edit'
%h3= link_to 'Vendors', vendors_path


