= render '/permissions'
-if @is_admin
  .row-fluid
    .span12
      %h5 Cab request message will be sent to:
      =form_tag({:action => :update}, :id => 'edit') do
        .row-fluid
          .span2
            %h5 Admin
          .span4
            .control-group
              %select{:name => "admin" , id: "admins"}
                -@admins.each do|admin|
                  %option{:value => admin.name, :selected => admin.status }= admin.name
                %end

        .row-fluid
          .span2
            %h5 Vendor
          .span4
            .control-group
              %select{:name => "vendor", id: "vendors"}
                -@vendors.each do|vendor|
                  %option{:value => vendor.name, :selected => vendor.status }= vendor.name
                %end


        .row-fluid
          .span2
          .span4
            =submit_tag "Update", class: 'btn btn-primary' ,id: "submit"