= render '/permissions'
-if is_admin?
  %br
  %br
  .row-fluid
    .span1
    .span10
      %h5 CAB REQUEST MESSAGE WILL BE SENT TO:
      %br
      .form-horizontal
        =form_tag :action => :update do
          .row-fluid
            .span2
              %h5 ADMIN
            .span10
              %select{:name => "admin" , id: "admins"}
                -@admins.each do|admin|
                  %option{ :selected => admin.status }= admin.name
                %end
          %br

          .row-fluid
            .span2
              %h5 VENDOR
            .span10
              %select{:name => "vendor", id: "vendors"}
                -@vendors.each do|vendor|
                  %option{ :selected => vendor.status }= vendor.name
                %end

          %br

          .row-fluid
            .span2
            .span10
              .span2
                =submit_tag "Update", class: 'btn btn-block' ,id: "submit"
              .span10
                = link_to 'Back', support_centers_path, class: 'btn'

    .span1