= render '/permissions'
%br
%br
-if @is_admin
  .row-fluid
    .span1
    .span10
      =form_tag({:action => :show, :method => :get}, :id => 'show') do

        .row-fluid
          .span1
          .span4
            From:
            &nbsp
            %input{type: 'text', id: "from_date" ,name: "from", class: "date_picker uneditable-input", value: @from, required: true,  autocomplete: 'off'}
          .span4
            To:
            &nbsp
            %input{type: 'text', id: "to_date", name: "to" ,class: "date_picker uneditable-input", value: @to, required: true, autocomplete: 'off'}
          .span2
            =button_tag 'display',:id => "display_reports", :class =>"btn btn-block"
          .span1
      %end

      .row-fluid
        .span1
        .span11
          -if @cab_requests != nil && @cab_requests != []
            = render '/cab_requests'
            %br
            = link_to 'Download XLS Sheet', support_centers_show_path(:format => :xls, :from => @from, :to => @to),id:"Download XLS Sheet"
            %br
            %nbsp
            %nbsp
          -elsif @cab_requests == []
            %h4 No record found
    .span1
