= render '/permissions'
-if @is_admin
  .span12
    =form_tag({:action => :show, :method => :get}, :id => 'show') do
      From:
      &nbsp;
      %input{type: 'text', id: "from_date" ,name: "from", class: "date_picker uneditable-input", value: @from, required: true,  autocomplete: 'off'}
      &nbsp;
      &nbsp;
      &nbsp;
      To:
      &nbsp;
      %input{type: 'text', id: "to_date", name: "to" ,class: "date_picker uneditable-input", value: @to, required: true, autocomplete: 'off'}
      &nbsp;
      &nbsp;
      &nbsp;
      =button_tag 'Display',:id => "display_reports", :class =>"btn"
      -if @cab_requests != nil && @cab_requests != []
        %a.btn.btn-info{href: support_centers_show_path(:format => :xls, :from => @from, :to => @to), id:"xls_link"}
          %i.icon-download-alt
          XLS Sheet
    %end
    -if @cab_requests != nil && @cab_requests != []
      %hr
      = render '/cab_requests'
      = will_paginate @cab_requests_page , renderer: BootstrapPagination::Rails
    -elsif @cab_requests == []
      %hr
      %h4 No record found