= render '/permissions'

-if @is_admin
  .row-fluid
    .span12
      %a.btn{href: new_vendor_path, id: 'New'}+
      %table{cellspacing: 50, id: 'table',class: 'table table-striped table-hover table-bordered'}
        %th Name
        %th Contact No
        %th
        %th
        - @vendors.each do |vendor|
          %tr
            %td= vendor.name
            %td= vendor.contact_no
            %td
              %a{href: edit_vendor_path(vendor), id:'Edit'}
                %i.icon-pencil
            %td
              %a{href: vendor_path(vendor), id: 'Delete', :method => :delete, :confirm => 'Are you sure?', :hidden => vendor.status}
                %i.icon-trash
        %end

