

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 10px;
    list-style: square;
    color: black;

  }

}

msg{
    color: #500000;
   }



#dropdown{
  background-color: orangered;
  padding-top: 13px;
  max-height: 10px;
  padding-right: 0px;
  padding-left: 4px;

}

.cab-logo {
  width: 156px;
}
.nav {
  margin: 10px 0px !important;
  list-style: none;
}
.navbar-inverse .brand {
  //border-right: 1px #ffffff solid;
  color: #ffffff;
  font-size: 24px;
  font-weight: 200;
  margin: 0px 0px 0px -27px;
}

.navbar{
  border: none;
  margin-bottom: 0px;

}

li.dropdown.open{
  a{
    border: none;
    background-color: #ffffff;
    color: #000000;
  }
}

ul.dropdown-menu>li>a{
  background-color: #ffffff;
  color:  black;
}

.navbar ul.nav>li>a{
  //padding-left: 5px;
  //padding-right: 10px;
  font-size: 15px;
  color: #ffffff;
  border-right: 1px solid white;
}

.navbar ul>li#welcome_text{

  padding-top: 10px;
  list-style-type: none;
  padding-right: 0px;
  //padding-right: 10px;
}

.navbar ul.nav.pull-right>li>a{
  border-right: none;
}

.navbar-inverse .navbar-inner{
  color: #ffffff;
  border: none;
  background-color: orangered;
  background-image: none;
  filter: none;
  max-height: 30px;
  border-radius: 0px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding-bottom: 1.4px;
}
.nav-tabs > li > a {
  border: none;
}
.page-title{
  padding-top: 15px;
  padding-bottom: 15px;
  color: #ffffff;
  overflow: hidden;
  clear:both;
}
.page-title h1{
  background: url('crs_logo.png') no-repeat;
  text-indent: -9999px;
  float:left;
  width: 400px;
}
.page-title div.loginInfo{
  float:right;
  padding: 20px 0px 0px;
  text-shadow: black 2px 1px 2px;
}
.page-title div.loginInfo a{
  color: #7ecae0;
}
.page-title div.loginInfo span{
  font-weight: bold;
}
body{
  background: url('header_bg.png') repeat-x;
}


.vertical-line{
  border-right: 1px lightgrey inset;
}

.footer{
  text-align: center;
  padding: 10px 0px;
  font-size: 11px;
}


.form-main{
  border-bottom:  1px lightgrey inset;
  margin-bottom: 10px;
}
.span6{
  h4{
   text-align: center;
   color: grey;

  }
.footer>a>img{
   vertical-align: bottom;
}

.span6.span4#cancel_button{
  width: 140%;
}
#reset_btn{
  line-height: 18px;
}
.span9{
  h3{
    text-align: center;
    font-family: "georgia";
    font-style: italic;
    font-weight: bold;
  }
}

.control-group{
  h3{
    font-weight: normal;
  }
}
#other_source{
  margin-top: 10px;
}
#other_destination{
  margin-top: 10px;
}

span>a>img{
  vertical-align: bottom;
}
#pick_up_date{ cursor:default;}
#pick_up_time{ cursor:default;}
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}
h3{
  font-size: 20px;
  font-weight: bold;
  padding: 0px 0px 20px;
  margin: 0px;
}
h4{
  font-size: 14px;
  font-weight: bold;
}

.nav-tabs {
  border-bottom: none;
}
.nav-tabs a {
  color: #006f8f;
  font-size: 16px;
  font-weight: bold;
  text-shadow: white 1px 1px 1px;
}
.nav-tabs a:hover{
  border: none;
  zoom: 0;

}
.nav-tabs{
  list-style: none;
  padding-top: 15px;
  margin-left: 0px;
}
//.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
//  border-color:none;
//}
//.nav-tabs.nav-stacked > li > a:hover,
//.nav-tabs.nav-stacked > li > a:focus {
//  border-color: none;
//  z-index: 0;
//}
.pageContainer{
  background: #eaebeb;
  border-radius: 10px;
  border: #cfcfcf 1px solid;
  padding: 10px 20px;
  margin-top: 5px;
}
#comments{
  height: 66px;
  width: 100%;

}


//.span8{
//  background-color: orangered;
//}
/**********************************

Use: Main Screen Import

***********************************/

