
div {
&.field, &.actions {
    margin-bottom: 10px;

}
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }

}

msg{
    color: #500000;
   }

.form-horizontal{
  color: white;
  background-color: grey;
  padding:10px 70px 20px 10px;
  border:1px solid black;
  border-radius: 10px;
}

.navbar-inverse .brand {
  color: #ffffff;
  font-size: 28px;
  font-weight: 200;
}

.navbar{
  border: none;
}
.navbar-inverse .navbar-inner{
  border: none;
  background-color: none;
  background-image: url('navbar.jpg');
  background-repeat: repeat-x;
  background-repeat: no-repeat;
  filter: none;
  border-radius: 0px;
}

.header{
  padding-top: 15px;
  padding-bottom: 15px;
  background-image: url('header.jpg');
  color: #ffffff;
}


