
div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 10px;
    list-style: square;
    color: black;

  }

}

msg{
    color: #500000;
   }

.form-horizontal{
  color: black;
  background-color: #ffffff;
  //padding:0px 70px 20px 10px;
  border:0px solid black;
  border-radius: 0px;
}


#dropdown{
  background-color: orangered;
  padding-top: 13px;
  max-height: 10px;
  padding-right: 0px;
  padding-left: 4px;

}

//.dropdown-menu>li>hover{
//  background: transparent;
//  color: black;
//}

.navbar-inverse .brand {
  //border-right: 1px #ffffff solid;
  color: #ffffff;
  font-size: 24px;
  font-weight: 200;
  margin: 0px 0px 0px -27px;
}

.navbar{
  border: none;
  margin-bottom: 0px;

}

li.dropdown.open{
  a{
    border: none;
    background-color: #ffffff;
    color: #000000;
  }
}

ul.dropdown-menu>li>a{
  background-color: #ffffff;
  color:  black;
}

.navbar ul.nav>li>a{
  //padding-left: 5px;
  //padding-right: 10px;
  font-size: 15px;
  color: #ffffff;
  border-right: 1px solid white;
}

.navbar ul>li#welcome_text{

  padding-top: 10px;
  list-style-type: none;
  padding-right: 0px;
  //padding-right: 10px;
}

.navbar ul.nav.pull-right>li>a{
  border-right: none;
}

.navbar-inverse .navbar-inner{
  color: #ffffff;
  border: none;
  background-color: orangered;
  background-image: none;
  filter: none;
  max-height: 30px;
  border-radius: 0px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding-bottom: 1.4px;
}

.page-title{
  padding-top: 15px;
  padding-bottom: 15px;
  background-image: url('header.jpg');
  color: #ffffff;
}

body{
  color: black;
  background-image: url('header.jpg');
  border-top-width: 5px;
  border-top: solid;
  border-top-color: orangered;
  //background-color: seagreen;
}

.span6>h1{
  color:white;
}

.footer{
  color: white;
  text-align: right;
}

.content-main{
  //min-height: 980px;
  background-image: none;
  background-color: #ffffff;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}


.form-main{
  border-bottom:  1px lightgrey inset;
  margin-bottom: 10px;
}
.span6{
  h4{
   text-align: center;
   color: grey;
  }
.footer>a>img{
   vertical-align: bottom;
}

.span6.span4#cancel_button{
  width: 140%;
}
#reset_btn{
  line-height: 18px;
}
.span10{
  h3{
    text-align: center;
    font-family: "georgia";
    font-style: italic;
    font-weight: bold;
  }
}

.control-group{
  h3{
    font-weight: normal;
  }
}
#other_source{
  margin-top: 10px;
}
#other_destination{
  margin-top: 10px;
}

span>a>img{
  vertical-align: bottom;
}
#pick_up_date{ cursor:default;}
#pick_up_time{ cursor:default;}
}

a{
  margin-right: 10px;
  color: #707070 ;
  text-decoration: none;
}

a:hover{
  color: black;
  text-decoration: none;
}

.span3{
    text-align: center;
}

.nav-tabs {
  border-bottom: none;
}
