#nav {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#nav li {
	display: block;
	float: left;
	margin: 0 5px;
}

body{
	background-color: #FFFACD;
}

.header {
	background-color: black;
    overflow: auto ;
}

.menu_bar {
	text-align: right;
	float: right;
}
form { 
	padding-top: auto;
  	padding-left: auto;
 }

h1 {
	padding-top: 20px;
	text-align: center;
	font-size: 40px;
	color: #F0FFF0
}

h2 {
  font-family: "Comic Sans"
}

h5 {
  text-align: center;
  font-size: 40px;
}

h4	{
   text-align: right;
}

.left_container {
	float: none;
	padding-top: 15%;
    width: 50%;

}

.right_container {
	float: right;
    width: 50%;
    
}

label {
	font-weight: bold;
    font-size: 120%;
}

.left_header {
	float: left;
	padding-left: auto;
}

.right_header {
	float: none;
	text-align: center;
}

#pick_up_time {
	width: 76px;
}

a {
	font-size: 17px;
	background: url(button.png);
	background-size: 100% 100%;
	color: white;
	font-weight: normal;	
}

a:hover {
	color: #CD950C;
}

.button {
	 background: url(button.png);
   	background-size: 100% 100%;
 	color: white;
}

.display{
  text-align: center;
  margin-top: 40px;

}
