
body{
	background-color: #CD950C;

}

.header {
	background-color: black;
    overflow: hidden ;
}

form { 
	padding-top: auto;
  	padding-left: auto;
 }

h1 {
	padding-top: 20px;
	text-align: left;
	font-size: 40px;
	color: #CD950C
}

h6 {
  padding-top: 20px;
  text-align: center;
  font-size: 40px;
  color: #000000;
}

#logout_link {
	margin-right: 95px;
 }

h4	{
   font-size: 20px;
}

.left_container {
	float: none;
	padding-top: 15%;
    width: 50%;

}

.right_container {
	float: right;
    width: 50%;
    
}

label {
	font-weight: bold;
    font-size: 120%;
}

.left_header {
	float: left;
	padding-left: auto;
    width: 37%;
}

.right_header {
	float: none;
	text-align: center;
}

#pick_up_time {
	width: 76px;
}