%hr
%h2 REQUEST MESSAGE WILL BE SENT TO:
%br
%br
%b Admin:&nbsp&nbsp
%input{:value => @admin.name, :readonly => true}
&nbsp
&nbsp
Contact Number:&nbsp
%input{:value => @admin.contact_no, :readonly => true}
%br
%br
%br
%b Vendor:&nbsp
%input{:value => @vendor.name, :readonly => true}
&nbsp
&nbsp
Contact Number:&nbsp
%input{:value => @vendor.contact_no, :readonly => true}