%hr
%h2 CAB REQUEST MESSAGE WILL BE SENT TO:
%br
%br
%b Admin:&nbsp&nbsp

=@admin.try(:name)
&nbsp
&nbsp
Contact Number:&nbsp
=@admin.try(:contact_no)
%br
%br
%br
%b Vendor:&nbsp
=@vendor.try(:name)
&nbsp
&nbsp
Contact Number:&nbsp
=@vendor.try(:contact_no)
