%h2 ACTIVE ADMIN
%input{:value => @admin_name, :readonly => true}

%h2 Contact Number:
%input{:value => @admin_contact_number, :readonly => true}
%br
%br
%br
%h2 ACTIVE VENDOR
%input{:value => @vendor_name, :readonly => true}

%h2 Contact Number:
%input{:value => @vendor_contact_number, :readonly => true}