.row-fluid
  .span10
    %h5.message Cab request message will be sent to:
    %table{:cellspacing => 50 ,id: 'table',class:'table table-striped table-hover table-bordered'}
      %tr
        %td
          %b Admin:
        %td
          =@admin.try(:name)
      %tr
        %td
          %b Admin's contact number:
        %td
          =@admin.try(:contact_no)

      %tr
        %td
          %b Vendor:
        %td
          =@vendor.try(:name)
      %tr
        %td
          %b Vendor's contact number:
        %td
          =@vendor.try(:contact_no)