%br
%br
.row-fluid
  .span3
    %br
    %br
    %img{src: '/assets/contact_us.jpeg'}

  .span8
    %br
    %h5 CAB REQUEST MESSAGE WILL BE SENT TO:
    %br
    %table{:cellspacing => 50 ,id: 'table',class:'table table-striped table-hover'}
      %tr
        %td
          %b Admin:
        %td
          =@admin.try(:name)
      %tr
        %td
          %b Contact Number:
        %td
          =@admin.try(:contact_no)

      %tr
        %td
          %b Vendor:
        %td
          =@vendor.try(:name)
      %tr
        %td
          %b Contact Number:
        %td
          =@vendor.try(:contact_no)

  .span1
