%hr
%h2 CAB REQUEST MESSAGE WILL BE SENT TO:
%br
%br
%b Admin:&nbsp&nbsp
%input{:value => @admin.try(:name), :readonly => true}
&nbsp
&nbsp
Contact Number:&nbsp
%input{:value => @admin.try(:contact_no), :readonly => true}
%br
%br
%br
%b Vendor:&nbsp
%input{:value => @vendor.try(:name), :readonly => true}
&nbsp
&nbsp
Contact Number:&nbsp
%input{:value => @vendor.try(:contact_no), :readonly => true}