%hr
%h2 REQUEST MESSAGE WILL BE SENT TO:
%br
%br
%b Admin:&nbsp&nbsp
%input{:value => @admin_name, :readonly => true}
&nbsp
&nbsp
Contact Number:&nbsp
%input{:value => @admin_contact_number, :readonly => true}
%br
%br
%br
%b Vendor:&nbsp
%input{:value => @vendor_name, :readonly => true}
&nbsp
&nbsp
Contact Number:&nbsp
%input{:value => @vendor_contact_number, :readonly => true}