%h2 CAB REQUEST MESSAGE WILL BE SENT TO:
%br

%table{:cellspacing => 50 ,id: "table"}
  %tr
    %td Admin
    %td
      =@admin.try(:name)
  %tr
    %td Contact Number
    %td
      =@admin.try(:contact_no)

  %tr

  %tr
    %td Vendor
    %td
      =@vendor.try(:name)
  %tr
    %td Contact Number
    %td
      =@vendor.try(:contact_no)

